<div ui-content-for="title">
  编辑标题
</div>
<div ui-content-for="navbarAction">
  <i class="fa fa-thumbs-up"></i> 保存
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group text-center">
      <div id="main-header"></div>
      <div id="main-content">
        <textarea class="content" ng-model="$ctrl.title"></textarea>
      </div>
    </div>
    <footer class="publish-btn-block save">
        <div class="publish-btn save" ng-click="$ctrl.saveTitle()">保存</div>
    </footer>
  </div>
</div>
