.DS_Store
web/react/dist
web/react/node_modules
web/vuejs/node_modules
web/vuejs/dist
web/vuejs/bower_components
web/react1
html5/vuejs/bower_components
html5/vuejs/node_modules
**/package-lock.json
**/yarn.lock