      <div id="main-header" class="publish">
        <div id="cs-title" ng-click="$ctrl.editTitle()">{{$ctrl.title}}</div>
        <div id="cs-bg-icon">
          <div ng-if="$ctrl.iconCoverId != null && $ctrl.iconCoverId > 0"><img ng-src="../file/shareIcon?cmd=download&id={{$ctrl.iconCoverId}}&width=480&height=360&type=1&mode=6&.jpg" alt="" /></div>
        </div>
        <div id="cs-set-profile">
          <label>
              <img src="img/p/add.png" alt="">添加封面
              <input accept="image/*" ngf-max-size="50MB"
                  type="file" ngf-select="$ctrl.editIcon($file, $invalidFiles)" style="position:absolute;left:-9999px;" />
          </label>
        </div>
      </div>

      <div id="main-content">
        <div class="publish-items" ng-if="$ctrl.share!=null">
          <div class="list-group-item list-group-item-home" ng-repeat="shareItem in $ctrl.share.shareItems">
            <div class="cs-block">
              <div class="cs-btn-p-del" ng-click="$ctrl.deleteItem(shareItem.id)"><img src="img/p/delete.png" alt=""></div>
              <div class="cs-btn-p-ord-up" ng-click="$ctrl.changeOrder(shareItem.id,1)"><img ng-hide="$first" src="img/p/order.png" alt=""></div>
              <div class="cs-block-content" ng-if="shareItem.type==0">
                <div class="cs-block-text text" ng-click="$ctrl.editText(shareItem.id, shareItem.content)">
                  <span>{{shareItem.content}}</span>
                  <span ng-repeat="n in range(1,50)">&nbsp;</span>
                </div>
              </div>
              <div class="cs-block-content" ng-if="shareItem.type==1">
                <div class="cs-block-img" align="right">
                    <label for="bImg{{shareItem.id}}">
                        <img ng-src="../file/shareIcon?cmd=download&id={{shareItem.binarFileId}}&width=93&height=92&type=1&mode=6&.jpg" alt="" />
                    </label>
                    <input id="bImg{{shareItem.id}}" accept="image/*" ngf-max-size="50MB"
                        type="file" ngf-select="$ctrl.editImg(shareItem.id, $file, $invalidFiles)" style="position:absolute;left:-9999px;" />
                </div>
                <div class="cs-block-text" ng-click="$ctrl.editText(shareItem.id, shareItem.content)">
                  <span>{{shareItem.content}}</span>
                  <span ng-repeat="n in range(1,50)">&nbsp;</span>
                </div>
              </div>
              <div class="cs-block-content video" ng-if="shareItem.type==2">
                <div class="cs-block-video">
                    <label>
                        <video id="itemVideoId" poster="img/p/profile.png" preload="auto" ng-src="{{$ctrl.videoUrl(shareItem.binarFileId, shareItem.binarFileType)}}" autoplay>
                            您的浏览器不支持Video标签。
                        </video>
                        <input align="right" accept="video/*" ngf-max-size="50MB"
                            type="file" ngf-select="$ctrl.editVideo(shareItem.id, $file, $invalidFiles)" style="position:absolute;left:-9999px;" />
                    </label>
                </div>
                <div class="cs-block-text" ng-click="$ctrl.editText(shareItem.id, shareItem.content)">
                  <span>{{shareItem.content}}</span>
                  <span ng-repeat="n in range(1,50)">&nbsp;</span>
                </div>
              </div>
              <div class="cs-btn-p-ord-down" ng-click="$ctrl.changeOrder(shareItem.id,0)"><img ng-hide="$last" src="img/p/order.png" alt=""></div>
            </div>
          </div>

        </div>
        <div class="publish-items" ng-if="$ctrl.share==null">
          <div class="list-group-item list-group-item-home">
            <div class="cs-block">
              <div class="cs-btn-p-del"></div>
              <div class="cs-btn-p-ord-up"></div>
              <div class="cs-block-content">
                <div class="cs-block-text text" ng-click="$ctrl.editText()">
                  <span itemId="">点击添加文字</span>
                  <span ng-repeat="n in range(1,50)">&nbsp;</span>
                </div>
              </div>
              <div class="cs-btn-p-ord-down"></div>
            </div>
          </div>

          <!-- <div class="list-group-item list-group-item-home">
            <div class="cs-block">
              <div class="cs-btn-p-del"><img src="img/p/delete.png" alt=""></div>
              <div class="cs-btn-p-ord-up"><img src="img/p/order.png" alt=""></div>
              <div class="cs-block-content">
                <div class="cs-block-img" align="right" itemId="" ng-click="$ctrl.editImg()"><img src="img/p/profile.png" alt="" /></div>
                <div class="cs-block-text" itemId="" ng-click="$ctrl.editText()">
                  <span itemId="">点击添加文字</span>
                  <span ng-repeat="n in range(1,50)">&nbsp;</span>
                </div>
              </div>
              <div class="cs-btn-p-ord-down"><img src="img/p/order.png" alt=""></div>
            </div>
          </div>

          <div class="list-group-item list-group-item-home">
            <div class="cs-block">
              <div class="cs-btn-p-del"><img src="img/p/delete.png" ng-click="$ctrl.deleteItem()" alt=""></div>
              <div class="cs-btn-p-ord-up" ng-click="$ctrl.changeOrder(1)"><img src="img/p/order.png" alt="" /></div>
              <div class="cs-block-content">
                <div class="cs-block-text text" ng-click="$ctrl.editText()">
                  <span itemId="">点击添加文字</span>
                  <span ng-repeat="n in range(1,50)">&nbsp;</span>
                </div>
              </div>
              <div class="cs-btn-p-ord-down" ng-click="$ctrl.changeOrder(0)"><img src="img/p/order.png" alt=""></div>
            </div>
          </div> -->
        </div>

        <div class="publish-add-new">
          <div class="list-group-item list-group-item-home" ng-hide="showSelectBtn">
            <div class="publish-btn-block" ng-click="showSelectBtn = true">
              <div class="publish-btn">
                <img src="img/p/add.png" alt="" />
                <span>添加</span>
              </div>
            </div>
          </div>

          <div class="list-group-item list-group-item-home" ng-show="showSelectBtn">
            <div class="publish-btn-block">
              <ul class="publish-select-btn">
                <li class="btn-add-cs" ng-click="$ctrl.editText(0)"><label><img src="img/p/t.png" alt="" /></label></li>
                <li class="btn-add-cs">
                    <label>
                        <img src="img/p/p.png" alt="" />
                        <input accept="image/*" ngf-max-size="50MB"
                            type="file" ngf-select="$ctrl.editImg(0, $file, $invalidFiles)" style="position:absolute;left:-9999px;" />
                    </label>
                </li>
                <li class="btn-add-cs">
                    <label>
                        <img src="img/p/v.png" alt="" />
                        <input accept="video/*" ngf-max-size="50MB"
                            type="file" ngf-select="$ctrl.editVideo(0, $file, $invalidFiles)" style="position:absolute;left:-9999px;" />
                    </label>
                </li>
              </ul>
            </div>
          </div>

        </div>

      </div>
