<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">

        <!-- <link rel="stylesheet" href="css/common.min.css"> -->
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <p>Hello world! This is HTML5 Boilerplate.</p>
        <div id="app">
          <input v-model="message" />
          <p>{{ message }}</p>
          <p>{{ reversedMessage }}</p>
          <button @click="reverseMessage">Reverse Message</button>

          <ul>
            <li v-for="(todo,index) of todos">
              {{ index }} - {{ todo.text }}
            </li>
          </ul>

          <span :title="app_message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
          </span>

          <ol>
            <!-- Create an instance of the todo-item component -->
            <grocery-item
            v-for="grocery in groceryList"
            v-bind:grocery="grocery"
            v-bind:key="grocery.id">
            </grocery-item>
          </ol>

          <input
              v-model="newTodoText"
              v-on:keyup.enter="addNewTodo"
              placeholder="Add a todo"
          >
          <ul>
            <li
              is="todo-item"
              v-for="(todo, index) in todos"
              v-bind:key="todo.id"
              v-bind:title="todo.title"
              v-on:remove="todos.splice(index, 1)"
            ></li>
          </ul>

          <p>
            Ask a yes/no question:
            <input v-model="question">
          </p>
          <p>{{ answer }}</p>

          <div v-for="(value, key, index) in object">
            {{ index }}. {{ key }}: {{ value }}
          </div>

          <br>
          <p>The button above has been clicked {{ counter }} times.</p>
          <button v-on:click="counter += 1">Add 1</button>

        </div>

        <script src="js/common/bower.min.js"></script>
        <!-- <script src="js/common/app.min.js"></script> -->
        <script src="js/common/app.js"></script>
    </body>
</html>
