<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">

        <!-- <link rel="stylesheet" href="css/common.min.css"> -->
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <p>Hello world! This is HTML5 Boilerplate.</p>
        <div id="app">
          <input v-model="message" />
          <p>{{ message.split('').reverse().join('') }}</p>
          <button v-on:click="reverseMessage">Reverse Message</button>

          <ul>
            <li v-for="(todo,index) in todos">
              {{ index }} - {{ todo.text }}
            </li>
          </ul>

          <div id="app-attr">
            <span v-bind:title="message">
              Hover your mouse over me for a few seconds
              to see my dynamically bound title!
            </span>
          </div>

          <ol>
            <!-- Create an instance of the todo-item component -->
            <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id">
            </todo-item>
          </ol>
        </div>

        <script src="js/common/bower.min.js"></script>
        <!-- <script src="js/common/app.min.js"></script> -->
        <script src="js/common/app.js"></script>
    </body>
</html>
