<div class="scrollable">
  <div class="scrollable-content view">
    <div class="list-group">
      <div id="main-header" class="view">
        <h3>{{$ctrl.title}}</h3>
        <div class="view-header">
          <ul class="publish-header">
            <li>{{$ctrl.lastModified | date:'yyyy-MM-dd HH:mm'}}</li>
            <li>{{$ctrl.nickName}}</li>
          </ul>
        </div>
        <div id="cs-share-icon"></div>
      </div>

      <div id="main-content" class="view">
        <div class="publish-items" ng-if="$ctrl.share!=null">
          <div class="list-group-item list-group-item-home" ng-repeat="shareItem in $ctrl.share.shareItems">
            <div class="cs-block" ng-if="shareItem.type==0">
              {{shareItem.content}}
            </div>

            <div class="cs-block" ng-if="shareItem.type==1">
              <img ng-src="../file/shareIcon?cmd=download&id={{shareItem.binarFileId}}&width=360&height=240&type=1&mode=6&.jpg" alt="" />
              {{shareItem.content}}
            </div>

            <div class="cs-block" ng-if="shareItem.type==2">
              <video id="itemVideoId" width="100%" poster="img/p/profile.png" preload="auto" ng-src="{{$ctrl.videoUrl(shareItem.binarFileId, shareItem.binarFileType)}}" autoplay>
                  <!-- <source ng-if="shareItem.binarFileType==11" ng-src="{{$ctrl.videoUrl(shareItem.binarFileId, 'mp4')}}" type="video/mp4">
                  <source ng-if="shareItem.binarFileType==12" ng-src="{{$ctrl.videoUrl(shareItem.binarFileId, '3gp')}}" type="video/mp4">
                  <source ng-if="shareItem.binarFileType==13" ng-src="{{$ctrl.videoUrl(shareItem.binarFileId, 'webm')}}" type="video/webm">
                  <source ng-if="shareItem.binarFileType==14" ng-src="{{$ctrl.videoUrl(shareItem.binarFileId, 'ogv')}}" type="video/ogg"> -->
                  您的浏览器不支持Video标签。
              </video>
              {{shareItem.content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="break-line"></div>
</div>

<footer ng-click="$ctrl.showSharePay()" class="view">设置有偿分享</footer>
